In [2]:
import pandas as pd

data = pd.read_csv("texas-electricians.csv")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 223469 entries, 0 to 223468
Data columns (total 5 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       223469 non-null  int64
 1   license  223469 non-null  object
 2   county   223469 non-null  object
 3   fips     211808 non-null  float64
 4   name     223469 non-null  object
dtypes: float64(1), int64(1), object(3)
memory usage: 8.5+ MB

In [4]:
data.head()

   id                 license    county     fips               name
0   1  Apprentice Electrician  ANDERSON  48001.0  LUNA, MARIO MUNOZ
1   2  Apprentice Electrician  ANDERSON  48001.0   INGLE, LOGAN LEE
2   3  Apprentice Electrician  ANDERSON  48001.0      HUNT, KERRY J
3   4  Apprentice Electrician  ANDERSON  48001.0   VALLEJO, WILLIAM
4   5  Apprentice Electrician  ANDERSON  48001.0   CASTILLO, JOSE F

In [5]:
data.to_excel("ElectriciansTX.xlsx")